body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.nav{
  background-color: #2c3e50;
  z-index: 9999;
}
.nav h2:hover {
cursor: pointer;
  
}
.nav li{
  font-size: 20px;
  font-weight: 600;
}
.nav li:hover {
cursor: pointer;
color: #1abc9c;
  
}
.header{
  width: 100%;
  height: 100vh;
  background-color: #1abc9c;
  margin-bottom: 3rem;
}
.header img {
margin-top: 8rem;
width: 35%;
height: 35%;
}

.header h1 {
  margin-bottom: 30px;
  font-size: 4rem;
}
.header i {
  font-size: 35px;
}
.about{
  padding-top: 50px;
background-color: #1abc9c ;
}
.about h1 {
  font-size: 4rem;

}
.about p {
  font-size: 18px;
line-height: 1.8;
font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.about i {
  font-size: 35px;
}

.icons{
  font-size: 30px;
}

.contact h1 {
  margin-top: 40px;
  font-size: 4rem;
  color:#2c3e50 ;
}
.contact i {
  font-size: 35px;
  color: #1a252f;
}

.footer{
  background-color: #2c3e50;
  font-size: 25px;
}
.round{
width: 50px;
height: 50px;
background-color: #2c3e50;
border-radius: 50%;
border: 2px solid white;
}

.footer .round:hover{
  background-color:white;
  color:black;
  transition: 1s;
}
.copyright{
  background-color: #1a252f;
  color: white;
  margin-bottom: 0;
}